{$SITE_DOMAINS} {
  encode zstd gzip
  redir /beta /beta/ 308
  redir /mobile /mobile/ 308
  handle_path /beta/* {
    reverse_proxy frontend-beta:80
  }
  handle_path /mobile/* {
    reverse_proxy frontend-ios:80
  }
  handle {
    reverse_proxy frontend:80
  }
}
